.modules{
    width: 100%;
    height: 100%;
    .dataBoard{
        width: 100%;
        height: 260px;
        padding:30px 10px;
        display: flex;
        justify-content: space-around;
        .dataItem{
            border-radius: 20px;
            width: 29%;
            display: flex;
            padding: 20px 30px;
            align-items: center;
            box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
            gap: 30px;
            .content{
                width: 100%;
                height: 160px;
                color: #ffffff;
                .top{
                    width: 100%;
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    justify-content: space-between;
                    .img{
                        width: 100px;
                        height: 50px;
                        border-radius: 10px;
                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
                    }
                }
                .value{
                    font-size: 33px;
                    font-weight: bold;
                    color: #206bb1;
                    margin-top: 10px;
                }
                .bottom{
                    margin-top: 15px;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }
                .dec{
                    margin-top: 15px;
                }
            }
            transform-origin: center;
            transition: transform 0.3s ease, box-shadow 0.3s ease; 
            &:hover{
              transform: scale(1.03); 
              box-shadow: 4px 8px 16px rgba(139, 203, 233); 
            }
        }
       

    }
    .navContainer {
        position: relative;
        z-index: 20;
        display: flex;
        margin-bottom: 30px;
        justify-content: center;
        gap: 80px;
        .navBtn {
          width: 160px;
          padding: 12px 28px;
          border: 1px solid #ddd;
          border-radius: 12px;
          background: rgb(247, 247, 247);
          color: #666;
          font-size: 15px;
          font-weight: 500;                        
          cursor: pointer;
          transition: all 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
          box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
          box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
          &:hover {
            background: #f9f9f9;
            transform: translateY(-3px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
          }
          &.navBtnActive {
            background: linear-gradient(135deg, #389DFA 0%, #2d7fd6 100%);
            color: white;
            box-shadow: 0 8px 20px rgba(56, 157, 250, 0.25);
          }
        }
      }
    .Content{
      width: 95%;
      margin-left: 2.5%;
      height: 520px;
      background-color: #FAFAFA;
      border-radius: 20px;
      box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.3);
    }
}